.header {
  background: #2f2c7d;
  color: #fff;
  height: 6vh;
  line-height: 6vh;
  display: flex;
  justify-content:space-evenly;
}

.header-left{
  flex: 2;
}

.header-social{
  width: 20vw;
  margin: 2vh 5vw 0 auto;
  vertical-align: center;
  display: flex;
  justify-content:space-evenly;
}

.header-social .icons:hover {
  opacity: 0.6;
}


.lang-icon{
  font-size: 1.2vw;
}

.carousel-wrapper{
  margin: 0vh auto;
  width: 80vw;
}

.image-wrapper {
  height: 40vh;
}

.legend {
  background: #2f2c7d;
  color: black;
  opacity: 0.3;
}

.legend:hover {
  background: #2f2c7d;
  color: black;
  opacity: 0.3;
}
.legend:focus {
  background: #2f2c7d;
  color: black;
  opacity: 0.3;
}

.languages {
  -webkit-user-select: none;
  -webkit-appearance:button;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  overflow: hidden;
  appearance:none;
  border: none;
  border-radius: 0px !important;
  outline: none !important;
  background: #2f2c7d;
  color: white;
  font-size: 1vw;
}

.languages:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: inherit;
  -webkit-appearance:none;
  background: transparent;
  outline: none !important;
  box-shadow: 0 !important;
}

.languages:hover {
  border: none;
  border-radius: 0px !important;
  outline: none;
  opacity: 0.6;
}

.languages {
  -webkit-appearance:button;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border: none;
  background: #2f2c7d !important;
  color: white;
  font-size: 1vw;
}

.navbar {
  font-size: 0.8vw;
  margin: 0 2vw 0 auto;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
  background: #fff;
  line-height: 10vh;
  color: #2f2f2f;
  font-weight: bold;
  text-align: right;
}
.navbar a {
  margin-right: 2vw;
}
.navbar img {
  align-self: flex-end;
  margin-right: auto;
  height: 9vh;
}

.navbar a {
  text-decoration: none;
  color: #2F2C7D;
}

.navbar a:hover {
  opacity: 0.7;
}

.navbar a:after {
  text-decoration: none;
  color: #2F2C7D;
}

.collection {
  margin: 2vh auto;
  padding: 3%;
  width: 94%;
  height: 70vh;
  background: #2F2C7D;
}

.items {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.items a {
  text-decoration: none;
}

.items a:hover{
  opacity: 0.8;
}

.collection h3 {
  font-size: 2vw;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 4vh auto;
  
}

.card {
  margin: auto;
  height: 50vh;
  width: 15vw;
  border-radius: 0 24px 0 0;
  padding: 1vh;
  text-align: center;
  font-weight: bold;
  font-size: 1vw;
  background: white;
  color: #2F2C7D;
}

.card img {
  width: 10vw;
}

.carousel-container {
  width: 80vw;
  margin: 0 auto;
  border-radius: 30px;
}

.footer {
  margin: 0 auto;
  width: 80vw;
}

.footer-top {
 display: flex;
 flex-flow: nowrap row;
 width: 80vw;
}

.footer-top ul {
  width: 40vw;
  align-content: flex-start;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
  list-style-type: none;
  flex:1;
}

.footer-bottom  {
  margin: 0 10vw 2vh auto;
  width: 70vw;
}

.gov-links {
 width: 100%;
 display: flex; 
 flex-flow: nowrap row;
 height: 10vh;
}


.copyright {
  width:100%;
  height: 3vh;
  line-height: 3vh;
  color: white;
  background: #2f2c7d ;
  text-align: center;
}
